<h1>註冊會員</h1>
<% if @user.errors.any? %> 
    <ul>
        <% @user.errors.full_messages.each do |message| %> 
            <li><%= message %></li> 
        <% end %> 
    </ul>
<% end %> 

<%= form_for(@user) do |form|%>

<%= form.label :email%>
<%= form.text_field :email%>
<br>
<%= form.label :password%>
<%= form.password_field :password%>
<br>
<%= form.label :password, "密碼確認"%>
<%= form.password_field :password_confirmation %>
<br>
<%= form.label :nickname%>
<%= form.text_field :nickname%>
<br>
<%= form.submit '註冊'%>
<% end %>