<script src="https://js.braintreegateway.com/web/dropin/1.25.0/js/dropin.min.js"></script>


<h2>結帳</h2>

<%= render 'cart', cart: current_cart %>

<%= form_for(@order, html: {id: 'payment-form'}) do |f| %>
  <div>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div>
    <%= f.label :tel %>
    <%= f.text_field :tel %>
  </div>

  <div>
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div id="dropin-container"></div>
  <%= f.submit '確認付款'%>
<%end%>

<script type="text/javascript">
  const form = document.getElementById('payment-form');

  braintree.dropin.create({
    authorization: '<% @token %>',
    container: '#dropin-container'
  }).then((dropinInstance) => {
    form.addEventListener('submit', (event) => {
      event.preventDefault();

      dropinInstance.requestPaymentMethod().then((payload) => {
        document.getElementById('nonce').value = payload.nonce;
        form.submit();
      }).catch((error) => { throw error; });
    });
  }).catch((error) => {
  // handle errors
});
</script>